<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
</head>
<body>


<div class="profile">
    <div class="main-info">
        <div class="row">
            <div class="square col-3 col-12-xs">
                <div class="content">
                    <img id="photo" src=<%=require("./images/photo.jpg")%> >
                </div>
            </div>
            <div class="col-9 col-12-xs">
                <div id="bio" class="content">
                    <div class="edit-container">
                        <p id="name" class="editable">John Smith</p>
                        <div class="input-block">
                            <input>
                            <button class="save"></button>
                            <button class="cancel"></button>
                        </div>
                    </div>
                    <div class="edit-container">
                        <p id="address" class="editable">Portland, Oregon, USA</p>
                        <div class="input-block">
                            <input>
                            <button class="save"></button>
                            <button class="cancel"></button>
                        </div>
                    </div>
                    <div class="edit-container">
                        <p id="language" class="editable">English</p>
                        <div class="input-block">
                            <input>
                            <button class="save"></button>
                            <button class="cancel"></button>
                        </div>
                    </div>
                    <div id="skills" class="editable">
                        <div class="list">
                        </div>
                        <p>Add skills</p>
                        <div class="skill-block">
                            <input>
                            <select>
                                <option value="1">Strong</option>
                                <option value="0.5">Middle</option>
                                <option value="0.1">Weak</option>
                            </select>
                            <button class="save"></button>
                        </div>
                    </div>
                </div>
                <div class="print">
                    <button>
                        Print this page
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="additional-info">

        <div class="row">
            <div class="square col-3 col-6-sm col-12-xs">
                <div id="portfolio" class="content">
                    <div class="header">
                        <div class="title">
                            Portfolio
                        </div>
                        <div class="subtitle">
                            PHP, Ruby, Javascript
                        </div>
                    </div>
                    <div class="technologies">
                        <ul>
                            <li>
                                Naval Plan, PHP, Ruby
                            </li>
                            <li>
                                MyTime, Javascript
                            </li>
                            <li>
                                Formidable, PHP, Ruby
                            </li>
                            <li>
                                MyTime, Javascript
                            </li>
                            <li>
                                Monsoon, ActionScript
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="square col-3 col-6-sm col-12-xs">
                <div id="experience" class="content">
                    <div class="header">
                        <div class="title">
                            Experience
                        </div>
                    </div>
                    <div class="technologies">
                        <ul>
                            <li>
                                PHP, 6 years
                            </li>
                            <li>
                                Ruby, 7 years
                            </li>
                            <li>
                                Javascript, 4 years
                            </li>
                            <li>
                                ActionScript, 3 years
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="square col-3 col-6-sm col-12-xs">
                <div id="sample-code" class="content">
                    <div class="header">
                        <div class="title">
                            Sample code and algorithms
                        </div>
                    </div>
                </div>
            </div>
            <div class="square col-3 col-6-sm col-12-xs">
                <div class="content">
                    <div id="availability">
                        <div class="header">
                            <div class="title">
                                Availability
                            </div>
                        </div>
                        <div class="info">
                            <span>Full-time</span>
                        </div>
                    </div>
                    <div id="environment">
                        <div class="header">
                            <div class="title">
                                Preferred environment
                            </div>
                        </div>
                        <div class="info">
                            <span>Git, GitHub, vim, emacs, Jenkins, Mac OSX</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="square col-3 col-6-sm col-12-xs">
                <div id="amazing" class="content">
                    <div class="header">
                        <div class="title">
                            The most amazing ...
                        </div>
                    </div>
                    <div class="info">
                        <div class="quote">
                            <p>...Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                Ut enim ad minim veniam
                            </p>
                            <div class="author">
                                - Martin
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="square col-3 col-6-sm col-12-xs">
                <div id="clients" class="content">
                    <div class="header">
                        <div class="title">
                            In clients I look for ...
                        </div>
                    </div>
                    <div class="info">
                        <div class="quote">
                            <p>...Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                            <div class="author">
                                - Martin
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="square col-3 col-6-sm col-12-xs">
                <div class="content">

                </div>
            </div>
            <div class="square col-3 col-6-sm col-12-xs">
                <div id="note" class="content">
                    <div class="header">
                        <div class="title">
                            Note
                        </div>
                    </div>
                    <div class="info">
                        <div class="quote">
                            <p>...Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>







</body>
</html>