%col-border {
  border: 1px solid $op_80_lightgray;
}

.row {
  display: block;

  @for $col from 1 through 12 {
	@each $size in $sizes_list {
	  .col-#{$col}#{$size} {
		.content {
		  @extend %col-border;
		}
	  }
	}

	.col-#{$col} {
	  @include grid-columns($col)
	}

  }

}
.row:after {
  content:"";
  display:block;
  clear: both;
}