@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
	display: block;
	content: "";
	width: 100%;
	padding-top: ($height / $width) * 100%;
  }
  > .content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
  }
}

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
	& {
	  font-size: $min-font-size;
	  @media screen and (min-width: $min-vw) {
		font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
	  }
	  @media screen and (min-width: $max-vw) {
		font-size: $max-font-size;
	  }
	}
  }
}

@mixin column($col_num) {
  width: (100% / 12 * $col_num);
  float: left;
}

@mixin respond-to($media) {
  @media only screen and #{$media} {
	@content;
  }
}

@mixin grid-columns($columns) {
  &-xs {
	@include respond-to($xs) {
	  @include column($columns);
	}
  }
  &-sm {
	@include respond-to($sm) {
	  @include column($columns);
	}
  }
  &-md {
	@include respond-to($md) {
	  @include column($columns);
	}
  }
  &-lg {
	@include respond-to($lg) {
	  @include column($columns);
	}
  }
  &-xl {
	@include respond-to($xl) {
	  @include column($columns);
	}
  }
  @include column($columns);
}