@import "variables.scss";
@import "mixins.scss";
@import "grid.scss";



body {
  @include fluid-type(768px, 1200px, 14px, 18px);
  @include fluid-type(300px, 768px, 17px, 20px);
  .row {
	.title {
	  @include fluid-type(768px, 1200px, 14px, 18px);
	  @include fluid-type(300px, 768px, 19px, 21px);
	}
	.info, .technologies, .subtitle {
	  @include fluid-type(768px, 1200px, 14px, 18px);
	}
  }

  #availability {
	.info {
	  padding: 5px;

	  span {
		@include fluid-type(768px, 1200px, 18px, 24px);
		@include fluid-type(300px, 768px, 20px, 24px);
	  }
	}
  }
}

.row {
  .content {
	color: $darkgray;
  }
}

.profile {

  #photo {
	width: 100%;
	height: 100%;
  }

  #name {
	@include fluid-type(300px, 1200px, 20px, 26px);
  }
  #address, #language {
	@include fluid-type(300px, 1200px, 18px, 20px);
  }

  .main-info {
	background-color: $lightgray;
	#bio {
	  padding: 20px;

	  p, input {
		margin: 0;
		padding: 5px;
		height: 30px;
	  }
	  input {
		width: 100%;
	  }
	}
	.print {
	  position: absolute;
	  top: 20px;
	  right: 20px;

	  button {
		border-radius: 50px;
	  }
	}
	.print button, .skill .name {
	  cursor: pointer;
	  padding: 10px;
	  margin: 3px;
	  border-radius: 3px;
	  background: $black;
	  color: $white;
	  text-transform: uppercase;
	  border: none;
	  font-weight: 600;
	}
	.skill-block {
	  position: relative;
	  display: none;
	  width: 50%;

	  input {
		border: 1px solid #59ff59;
	  }
	  select {
		margin-right: 40px;
	  }
	  button {
		width: 20px;
		border: none;
		background: url("../images/accept.png") center no-repeat;
		background-size: contain;
	  }
	  select, button {
		position: absolute;
		height: 20px;
		top: 10px;
		right: 0;
		
		&:hover {
		  cursor: pointer;
		}
	  }
	}

	.edit-container {
	  position: relative;
	  width:50%;


	  
	  .input-block {
		display: none;
		margin-bottom: 15px;

		button {
		  position: absolute;
		  border: none;
		  top: 0;
		  bottom: 0;
		  width: 20px;
		  right: 0;
		  padding-right: 10px;

		  &:hover {
			cursor: pointer;
		  }
		  &:first-of-type {
			margin-right: 30px;
		  }
		  &.save {
			background: url("../images/accept.png") center no-repeat;
			background-size: contain;
		  }
		  &.cancel {
			background: url("../images/close.png") center no-repeat;
			background-size: contain;
		  }
		}
	  }
	}

	#skills {
	  .list {
		margin-bottom: 15px;
	  }
	  .skill {
		position: relative;
		display: inline-block;
		border-radius: 5px;

		&:hover .remove {
		  display: inline-block;
		  cursor: pointer;
		}

		.remove {
		  display: none;
		  position: absolute;
		  width: 20px;
		  z-index: 9;
		  right: 5px;
		  bottom: 0;
		  top: 0;
		  border: none;
		  background: url("../images/close.png") center no-repeat;
		  background-size: contain;
		}
	  }
	}

	@include respond-to($xs) {
	  .skill-block, .edit-container {
		width: 100%;
	  }
	  .print {
		position: relative;
		top: 0;
		right: 0;
		margin: 0 20px 20px 20px;
		text-align: center;
	  }
	}
  }


  #portfolio, #experience {
	.header {
	  height: 15%;
	}
  }

  #availability {
	border-bottom: 1px solid $op_80_lightgray;
  }

  #sample-code {
	background-image: url(../images/sample-code.jpg);

	.header {
	  background: #ffffffe8;
	}

  }

  .header, .info {
	text-align: center;
  }

  .header {
	padding: 15px;
  }

  .title {
	font-size: 1.2em;
	font-weight: 600;
  }
  .info {
	padding: 0 15px;
  }
  .quote {
	p {
	  font-style: italic;
	}

	.author {
	  text-align: right;
	  font-weight: 600;
	  font-style: normal;
	  @include fluid-type(300px, 1200px, 13px, 17px);
	}
  }
}

.square {
  @include aspect-ratio(1, 1);
}