/* COLORS */

$darkgray: #4c4c4c;
$lightgray: #e6e6e6;
$op_80_lightgray: #e6e6e680;
$white: #ffffff;
$black: #000000;
$notice_red: #fa726e;


/* SCREEN SIZES */
$sizes_list: '-xs' '-sm' '-md' '-lg' '-xl' '';
$xs: '(max-width: 576px)';
$sm: '(min-width: 576px) and (max-width: 768px)';
$md: '(min-width: 768px) and (max-width: 992px)';
$lg: '(min-width: 992px) and (max-width: 1200px)';
$xl: '(min-width: 1200px)';
